
<!DOCTYPE html>
<html lang="en">
<head>

      <script src="https://code.jquery.com/jquery-1.12.1.js"></script>

       <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/codepen.css') }}">

      <script src="{{ url_for('static',filename='js/codepen.js') }}"></script>

        <meta charset="UTF-8">
    <title>Narada MUNI</title>
</head>


<body onLoad="initScreen()">

  <form name="mainscreen" onkeypress="if(event.keyCode == 13) {mainroutine();return false}"><br />

    <table align="center">
      <tr>
        <td>


          <h1>Chatbot Narada Muni Project</h1>
          <br />

          <div class="row">
            <div class="col-sm-4">

              <h2>Chat with Narada Muni </h2>
              <img src="download.jpeg"alt="Narada Muni AI" style="width:250px;height:250px;align:left;">
              <br />
              <h3>Interact with Specific Inputs</h3>
              <br />
              <p>Use the following inputs for magic 8ball responses: 8ball + question with no ?(punctuation)</p>

              <p1>Enter: myfortune :and Narada Muni will tell you your personal fortune</p1>
            </div>
            <div class="col-sm-8">

              Message History<br>
              <textarea name="BasicTextArea1" rows="15" cols="75"></textarea><br> 
              <br> Type Here and Hit "Enter"<br>
              <textarea name="BasicTextArea4" rows="2" cols="75"></textarea>
              <br>
              <br>

        </div>

             
        </td>
      </tr>
    </table>

    <p2>
      <input id=runbutton class="button" type="button" value="Enter" name="run_button" onClick="mainroutine()">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /></p2>
      
  </form>

  </div>
  </div>


</body>
</html>
