<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-1.12.1.js"></script>

    <script>
        $(document).ready(function(){
        console.log('it works!!')
        $('form').on('submit',function (event) {
            $.ajax({
                data:{
                    cityName:$('#input').val()
                },
                type:'POST',
                url:'/temperature',
            })
                .done(function(response){
                    if (response){
                      alert('Hola !! Nikku')
                        alert(JSON.stringify(response))
                        var final_output=JSON.stringify(response)
                        console.log(final_output)
                        $('#out').val(JSON.stringify(final_output.data))
                    }
                    else{
                        console.log('Error'+response.error)
                    }
                })
        })
event.preventDefault()
            })
    </script>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<form class="">
    <label>Enter the city name </label>
    <input type="text" id="input" class="input" name="input">
    <button type="submit" id="submitBtn">Submit</button>
    <p id="out"></p>
</form>
<body>
</body>
</html>
