body {
  color: white;
  background-image: url('https://i.stack.imgur.com/gDxRP.png');
  background-repeat : repeat;
  background-size: contain;
  font-family: Helvetica;
  font-size: 12pt;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.button {
  color: white;
  background-color: black;
  font-family: Helvetica;
  font-size: 12pt;
  height: 50px;
  width: 150px;
  float:center;
  border: solid #240e27 10px;
  border-radius: 13px;
  box-shadow: black 2px 2px 2px 2px;
}

textarea {
  color: whitesmoke;
  background-color: rgb(20, 4, 25);
  border: solid :rgb(20, 4, 25) 10px;
  border-radius: 15px;
  font-family: arial;
  font-size: 12pt;
  box-shadow: black 2px 2px 2px 2px;
}

select {
  font-family: arial;
  font-size: 10pt;
  width: 350px;
  margin-left: 0px;
}

td {
  font-family: arial;
  font-size: 10pt;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  align: left;
  margin: 20px 20px 20px 20px;
}

img {
  align: left;
  border: solid #efecef 10px;
  border-radius: 100%;
  box-shadow: black 2px 2px 2px 2px;
  margin: 20px 20px 20px 20px;
}
p2  {
  text-align: center;
  margin-left: 53%;
}
p3  {
  text-align: center;
  margin-left: 53%;
}
